*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../../img/what_is_netflix_5_en.png) no-repeat ;
    background-size: cover;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image{
    position: relative;
    left: 7%;
    filter: saturate(1.8) brightness(1.0) contrast(1.5);
    transition: transform 0.5s ease-in-out; /* Animação suave */
}

.image img{
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.image img:hover{
    transform: scale(1.05);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.login-box {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 60px 68px 40px;
    border-radius: 5px;
    max-height: 650px;
    height: 100%;
    max-width: 450px;
    width: 100%;
}

.login-box h1 {
    font-size: 32px;
    margin-bottom: 28px;
    color: rgb(255, 255, 255);
}

.login-box input {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    background: #33333367;
    border: 1px solid #979797;
    border-radius: 4px;
    color: white;
    font-size: 16px;
}

form input::placeholder {
    position: absolute;
    left: 20px;
    top: 17px;
    font-size: 16px;
    color: #777;
    transition: 0.2s ease all;
}

/* Quando está digitando (campo preenchido) ou em foco */
form input:focus::placeholder,
form input:not(:placeholder-shown)::placeholder {
  top: 6px;
  font-size: 11px;
  color: #aaa;
}

.login-box button {
    width: 100%;
    padding: 16px;
    background-color: #e50914;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}


.options {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #b3b3b3;
    margin-bottom: 20px;
}


.options a {
    color: #b3b3b3;
    text-decoration: none;
}

.signup {
    font-size: 15px;
    color: #b3b3b3;
}

.signup a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.signup a:hover{
    color: rgb(163, 163, 163);
}

/* ================= MENSAGEM ================= */

.mensagem {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background: #111;
  padding: 1rem 2rem;
  border-radius: 10px;
  min-width: 300px;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  z-index: 9999;
  transition: all 0.4s ease;
}

/* Texto */
.mensagem span {
  display: block;
}

/* QUANDO ATIVA */
.mensagem.erro,
.mensagem.sucesso {
  animation: mostrarSumir 3s ease forwards;
}



/* ERRO */
.mensagem.erro {
  top: 20px;
  opacity: 1;
  color: #e50914;
  border: 1px solid #e50914;
  animation: shake 0.4s;
  font-weight: 700;
  text-transform: capitalize;
}

.mensagem.erro .progress::after {
  background: #e50914;
}

/* SUCESSO */
.mensagem.sucesso {
  top: 20px;
  opacity: 1;
  color: #2ecc71;
  border: 1px solid #2ecc71;
  font-weight: 700;
}

.mensagem.sucesso .progress::after {
  background: #2ecc71;
}

/* ================= ANIMAÇÕES ================= */

@keyframes shake {
  0% { transform: translateX(-50%) translateX(0); }
  25% { transform: translateX(-50%) translateX(-6px); }
  50% { transform: translateX(-50%) translateX(6px); }
  75% { transform: translateX(-50%) translateX(-6px); }
  100% { transform: translateX(-50%) translateX(0); }
}

/* ================= ANIMAÇÃO ================= */

@keyframes mostrarSumir {
  0% {
    top: -120px;
    opacity: 0;
  }
  15% {
    top: 20px;
    opacity: 1;
  }
  80% {
    top: 20px;
    opacity: 1;
  }
  100% {
    top: -120px;
    opacity: 0;
  }
}



/* ================= BLUR ================= */

.blur {
  filter: blur(5px);
  pointer-events: none;
}



.signup small {
    display: block;
    margin-top: 20px;
    color: #8c8c8c;
    font-size: 12px;
    line-height: 1.4;
}

.netflix-footer {
  background-color: #111;
  color: #ffffff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer-container {
  max-width: 1000px;
  margin: auto;
}

.footer-title {
  margin-bottom: 20px;
}

.footer-title a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-language select {
  background: rgb(78, 78, 78);
  border: 1px solid #757575;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.footer-copy {
  color: #ffffff;
}

/* Responsivo */
@media (max-width: 764px) {
    .login-box {
        padding: 50px 20px;
        height: 8000px;
    }

    .login-box h1 {
        font-size: 28px;
    }

    .login-box input,
    .login-box button {
        padding: 18px;
        font-size: 14px;
    }

    .options {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .signup {
        font-size: 12px;
    }
}